/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=The+Nautigal&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* header-style */
.head{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
/* start-smart-section-style */
main{
    justify-content: center;
}
.start-smart{
    display: flex;
    
}
.start-details{
    width: 582px;
    height: 270px;
    margin-left: 120px;
    align-items: center;
    margin-top: 50px;
}
.start-photo{
    margin-left: 133px;
    align-items: center;
}
.start-photo img{
    width: 440px;
height: 414px;
}
button{
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border-radius: 41px;
    color: whitesmoke; 
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

/* popular-collection */
.popular-collection{
    margin-left: 190px;
    margin-right: 190px;
    width: 1047px;
height: 1662px;
}
.products{
    display: grid;
    gap: 60px;
    margin: 0 50px;
    grid-template-columns: repeat(3,1fr);
    align-self: center;
}
.product{
    width: 329px;
    height: 476px;
    box-shadow: 1px 1px 10px rgb(199, 198, 198);
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;


}
.product h3
.head{
    justify-content: center;
}
.product small{
    color: #787885;
    font-size: 14px;
    
}
.product img{
    width: 300px;
    height: 256px;
}

.fa-star,.filled{
    color: goldenrod;
}

/* last-section-style */
.last-product{
    display: flex;
    width: 1110px;
    height: 270px;
    margin-left: 165px;
}
.last-product-details{
    margin-left: 96px;
    align-items: center;
}

/* footer-section */
footer{
    display: flex;
    height: 180px;
    background: rgb(10,8,38);
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}
.footer-text h2{
    font-weight: 500;
}
.footer-text small{
    font-weight: 300;
}
.footer-icon{
    margin-top: 15px;
}
.footer-icon .icon-gap{
    margin: 0 7px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 50%;
}